

.vehicle-category-link {

    text-decoration: underline !important;
    color: #005a9e;
    font-size: 20px;

}

.moozi-driver-button {
    width: 190px;
    border: 2px solid #0080e2;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    .moozi-driver-button h1 {}
.moozi-driver-button:hover {
    cursor: pointer;
    background-color: #0080e2;
    color: white;
}

.driver-slide {
    width: 0;
    transition: width 0.3s ease;
    z-index: -1;
}

.driver-slide-container:hover .driver-slide {
    width: 94% !important;    
}

.driver-slide-container:hover span {
    color: #000 !important
}

@media (max-width: 768px) {

    .driver-container {

        margin-top: 5rem;
    }

}