.no-show {
    display: none;
}

.booking-map {
    display: none !important;
}

.html {
    width: 100%;
    
}
.hero-container {
    margin-top: 2rem;
    
    padding: 60px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 1rem; */

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(1,126,255,1) 83%);

    height: 500px;

    /* border: 2px solid black; */
    border-radius: 30px;
}

.alt-hero-container {
    width: 100%;

    padding: 4rem 4rem;

    /* margin-top: -1rem; */
    margin: -1rem auto -1rem auto;
    margin-bottom: 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, #0080e2 83%);


}

.hero-book-a-ride {
    width: 500px;
    display: flex;
    flex-direction: column;
    
}

.no-show {
    display: none;
}

.hero-h1 {
    font-weight: bold;
    color:#fff;
    font-size: 55px;
    /* font-family: 'Arial Rounded MT'; */
    padding-bottom: 3.5rem;

    background: #fff;
    /* background: linear-gradient(180deg, #fff,#fff,#0080e2 , #0080e2); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
      

}

.button-to-book {
    display:flex;
    flex-direction: row;
    width: 80%;
    height: 75px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #0080e2;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    

    position: relative;

    transition: background-color 0.3s ease;
}

.button-to-book p {
    font-size: 30px;
    color: #0080e2;
    padding: 10px !important;
}


.button-to-book span  {
    /* position: absolute; */
    transition: transform 0.3s ease;
    color: #0080e2;
    font-size: 24px;

}

.button-to-book:hover span  {
    transform: translateX(10px);
    color: #fff;
}

/* button hover sequence */
.button-to-book:hover {
    background-color: #0080e2;
}

.button-to-book:hover p {
    color: #fff;
}

.hero-graphics {
    /* border: 2px solid black; */
    margin-top: -2rem;
    width: 500px;
    height: 350px;
}

.hero-container-mobile {
    display: none;
}

body .web-booking-wrapper .iframe-header {
    background: #0080e2 !important;
}

body button .btn .btn-primary {
    background: #0080e2 !important;
}

.web-booking-wrapper {
    /* width: 100vw !important; */
    height: 90% !important;
}

.ng-star-inserted {
    height: 90% !important;
}

.button-to-book {
    display:flex;
    flex-direction: row;
    width: 80%;
    height: 75px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #0080e2;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    

    position: relative;

    transition: background-color 0.3s ease;
}

@media (max-width: 900px) {
    .button-to-book {
        display:flex;
        flex-direction: row;
        width: 300px;
        height: 75px;
        cursor: pointer;
        padding: 5px;
        border: 2px solid #0080e2;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        
    
        position: relative;
    
        transition: background-color 0.3s ease;
    }
}


@media (max-width: 768px) {


.hero-container, .alt-hero-container, .carousel-container {
    display: none;
}

.hero-container-mobile {
    display: flex;
    /* height: 500px; */
    width: 100%;
    background-color: #0080e2;
    padding-top: 5rem;

    

}

.carousel-container {
    width: 92% !important;
    margin: 0 auto !important;
}

.hero-container-mobile {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, #ffffff 10%, #0080e2 83%);

}

.hero-content-mobile {
    margin: 0 auto;
}

.hero-h1 {
    font-size: 45px;
    text-align: center;


    background: linear-gradient(180deg, #fff 50%,#fff 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.hero-graphics-logo {
    width: 300px;
    margin-top: -3rem;
    margin-bottom: 0rem;
}
.hero-graphics {
    width: 350px;
    margin: 5px auto;
}

.ride-caption {
    text-align: center;
}




/* SCRIPT */
.web-booking-wrapper {
    width: 100vw !important;
    height: 75% !important;
}

.booking-opened {
    height: 65% !important;
}

.web-booking-wrapper.hide {
    width: 100vw !important;
    max-height: 50px !important;
}

.web-booking-wrapper .iframe-header {
    width: 100vw !important;
    
}













  }