
.downloads-container {
    /* margin: 40px auto; */
    /* background-color: #f9fafb;s */
    /* padding: 0px 30px 50px 0px; */
    z-index: 5;

}

.web-booking-wrapper .hide {
    /* width: 100vw !important; */
    position: absolute !important;
   
    z-index: -1 !important;
}
.downloads-container h1 {
    text-align: center;
    font-weight: bold;
    /* margin: 30px 0px;
     */
}

.downloads-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.download-button {

}

.android, .iphone {
    width: 180px;
    min-width: 120px ;
}

@media (max-width: 1000px) {
    .downloads-content {
        flex-direction: column;
        gap: 20px;
    }
    .android, .iphone {
        /* width: 100%; */
        /* min-width: 100%; */
    }
    
}