.card-wrapper {
  position: relative;
  width: 470px;
  height: 613.63px; /* max height of either front/back */
 
}

.card-wrapper:hover {
    filter: brightness(0.6);
    transition: filter 0.3s ease-in-out;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
/* 
.marquee {
    display: flex;
    gap: 10px;
} */
